.Logo {
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
  background-color: #ffffff;
  padding: 8px 8px;
  border-radius: 32px;
}

.Text {
  font-size: 18px;
  padding-right: 8px;
  font-weight: bold;
}
